<style>
  .order table td:first-child::after {
    content: ':';
  }
</style>
<div id="orderList">
  <div class="order">
    <h2>Order No: #<span class="order_id"></span></h2>
    <table>
      <tbody>
        <tr>
          <td>Apply Date</td>
          <td class="apply_date"></td>
        </tr>
        <tr>
          <td>Service Type</td>
          <td class="col" data-col="service_type"></td>
        </tr>
        <tr>
          <td>Event Date</td>
          <td class="col" data-col="event_date"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  let orderTemplate = document.querySelector('.order')
  orderTemplate.remove()
  get('/api/orders', json => {
    renderToList(orderList, orderTemplate, json.orders)
  })
</script>
