<style>
  h1,
  h2 {
    width: fit-content;
    border-bottom: 1px solid black;
  }
  .request {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
  }
  .request .images {
    display: flex;
    flex-wrap: wrap;
  }
  .request .images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
</style>

<h1>Pending Requests</h1>
<div id="requestList" data-template="request" data-bind="requests"></div>

<template data-name="request">
  <div class="request">
    <h2>Request # <span data-text="id"></span></h2>
    <p data-text="title"></p>
    <div class="images">
      <img data-src="images" />
    </div>
  </div>
</template>

<script
  src="https://cdn.jsdelivr.net/npm/data-template@1.5.0/base.js"
  crossorigin="anonymous"
  integrity="sha384-WzWqGULLEfZOWsR8olKuhg2s6Q2hMKb1vP5rkCFCn15rlCO477nPv4a/yGI/dUsv"
></script>

<script>
  getJSON('/api/requests', json => renderTemplate(requestList, json))
</script>
