body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  border: 1px solid black;
  padding: 0.75rem;
  text-align: center;
}
main {
  flex-grow: 1;
  padding: 1rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
footer li {
  flex-grow: 1;
  border: 1px solid black;
}
footer a {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}
